## Exploring and pre-processing a dataset using Pandas

In [50]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_excel(
    'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork/Data%20Files/Canada.xlsx',
    sheet_name='Canada by Citizenship',
    skiprows=range(20),
    skipfooter=2)
print('Data read into a pandas dataframe!')

## Pandas Basics

Let's view the top 5 rows of the dataset using the head() function

In [ ]:
df.head()

We can also view the bottom 5 rows of the dataset using the tail() function:

In [ ]:
df.tail()

When analyzing a dataset, it is always a good idea to start by getting basic information about your dataframe by using the info() method:

In [ ]:
df.info(verbose=False)

In [ ]:
df.info(verbose=True)

In [ ]:
# get the column headers
df.columns

In [ ]:
# get the list of indices
df.index

Note, that the default type of instance variables index and columns are NOT list:

In [ ]:
print(type(df.columns))

In [ ]:
print(type(df.index))

To get the index and columns as lists, we can use the tolist() method:

In [ ]:
df.columns.to_list()

In [ ]:
df.index.to_list()

In [ ]:
print(type(df.columns.tolist()))
print(type(df.index.tolist()))

To view the dimensions of the dataframe, we use the shape instance variable of it:

In [ ]:
# size of dataframe (rows, columns)
df.shape

In [ ]:
df.drop(['AREA', 'REG', 'DEV', 'Type', 'Coverage'], axis=1, inplace=True)

In [ ]:
df.head(3)

In [ ]:
df.rename(columns={'OdName':'Country', 'AreaName':'Continent', 'RegName':'Region'}, inplace=True)
df.columns

In [ ]:
df.head(3)

In [ ]:
# We will also add a 'Total' column that sums up the total immigrants by country over the entire period 1980 - 2013, as follows:
# df_can['Total'] = df_can.sum(axis=1)
# --> TypeError: can only concatenate str (not "int") to str
# You see now we must sum only the numeric columns, excluding any that still have non-numeric types:
df['Total'] = df.select_dtypes(include=[np.number]).sum(axis=1)
df['Total']

In [ ]:
# We can check to see how many null objects we have in the dataset as follows:
df.isnull().sum()

In [ ]:
# Finally, let's view a quick summary of each column in our dataframe using the describe() method:
df.describe()

## Pandas Intermediate

### Selecting Columns

In [ ]:
# returns a series
df['Country']

In [ ]:
# returns a series
df.Country

In [ ]:
df[['Country', 1980]]

In [ ]:
df[['Country', 1980, 1981, 1982]]

### Selecting Rows

Setting Index

In [ ]:
df.set_index('Country', inplace=True)

In [ ]:
df.head()

In [ ]:
# optional: if you want to remove the name of the index 
df.index.name = None

In [ ]:
df.head()

In [ ]:
df.loc['Japan']

In [ ]:
df.iloc[87]

In [ ]:
df[df.index == 'Japan']

In [ ]:
df.loc['Japan', 2013]

In [ ]:
df.loc['Japan', [1980, 1981, 1982]]

In [ ]:
df.iloc[87,36]

In [ ]:
df.iloc[87, [3,4,5,6,7]]

Filtering based on a criteria:

In [ ]:
# 1. create the condition boolean series 
condition = df['Continent'] == 'Asia'
print(condition)

In [ ]:
# 2. pass this condition into the dataFrame
df[condition]

In [ ]:
# We can pass multiple criteria in the same line:
df[(df['Continent']=='Asia') & (df['Region']=='Southern Asia')]

Exercise: Fetch the data where AreaName is 'Africa' and RegName is 'Southern Africa'.
Display the dataframe and find out how many instances are there?

In [ ]:
df[(df['Continent']=='Africa') & (df['Region']=='Southern Africa')]

In [ ]:
df.head()

In [ ]:
df.sort_values(by='Total', ascending=False, axis=0, inplace=True)
top_5 = df.head(5)
top_5

In [ ]:
df.sort_values(by='Continent', ascending=True, axis=0, inplace=True)
top_5 = df.head(5)
top_5

Exercise: Find out top 3 countries that contributes the most to immigration to Canda in the year 2010.
Display the country names with the immigrant count in this year:

In [ ]:
df.sort_values(by=2010, ascending=False, axis=0, inplace=True)
top3_2010 = df[2010].head(3)
top3_2010